package layouts

import (
	"github.com/FrancescoLuzzi/GoWebTemplate/app/app_ctx"
	"github.com/FrancescoLuzzi/GoWebTemplate/app/views/components"
)

templ App() {
	if app_ctx.ShowLayout(ctx) {
		@BaseLayout() {
			@components.Navbar()
			<div id="viewport" class="size-full">
				{ children... }
			</div>
		}
	} else {
		{ children... }
	}
}
